@import "catppuccin-mocha"
@theme "catppuccin-default"

configuration {
  display-drun: "apps: ";
  display-window: "search: ";
  font: "Jetbrains Mono 14";
}

window {
  location: center;
}

inputbar {
  children: [ prompt, entry ];
}

prompt {
  font: "Jetbrains Mono 15";
}

entry {
  font: "Jetbrains Mono 15";
}

element {
  padding: 2px;
}
