@import "catppuccin-mocha"
@theme "catppuccin-default"

configuration {
  display-drun: "apps: ";
  display-window: "search: ";
  font: "Pragmasevka Nerd Font 15";
}

window {
  location: center;
}

inputbar {
  children: [ prompt, entry ];
}

prompt {
  font: "Pragmasevka Nerd Font 16";
}

entry {
  font: "Pragmasevka Nerd Font 16";
}

element {
  padding: 2px;
}
